<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="outer">
  <div class="container">
    <div class="justify-content-md-center">
      <div class="panel border bg-white">
        <img src="../../../assets/images/image2.png" class="panel-img">
        <div class="panel-container">
          <div class="panel-heading">
            
            <h1 class="pt-3 font-weight-bold">Forgot password</h1>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="requestForm">

              <div class="form-group pt-3">
                <div 
                class="input-field"
                [class.error]="
                requestForm.controls['email'].dirty &&
                (requestForm.hasError('required','email') ||
                requestForm.controls['email'].hasError('email') ||
                requestForm.controls['email'].hasError('pattern'))
                 ">
                  <i class="fa fa-user p-2"></i>
                  <input formControlName="email" type="text" placeholder="Email" [disabled]="disenableComponent">
                </div>
              </div>

              <small 
                *ngIf="requestForm.controls['email'].dirty &&
                 requestForm.hasError('required','email')" 
                class="text-danger"
              >
                *Email is required
              </small>
              <small
                *ngIf="requestForm.controls['email'].dirty &&
                 (requestForm.controls['email'].hasError('email') ||
                  requestForm.controls['email'].hasError('pattern'))"
                class="text-danger"
              >
              *Please enter a valid email address
              </small>
              <button (click)="onRequest(requestForm.value)" type="submit" class="btn btn-primary btn-lock mt-4 w-100" [disabled]="disenableComponent">Send</button>
              <div class="text-center pt-4 text-muted">
                Create a new account!
                <a id="forget" routerLink="/signup">Sign Up</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
