<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="outer">
  <div class="container">
    <div class="justify-content-md-center">
      <div class="panel border bg-white">
        <img src="../../../assets/images/image1.png" class="panel-img">
        <div class="panel-container">
          <div class="panel-heading">
            
            <h1 class="pt-3 font-weight-bold">Sign up</h1>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="signupForm">

              <div class="form-group pt-3">
                <div 
                class="input-field"
                [class.error]="
                signupForm.controls['email'].dirty &&
                (signupForm.hasError('required','email') ||
                signupForm.controls['email'].hasError('email') ||
                signupForm.controls['email'].hasError('pattern'))
                 ">
                  <i class="fa fa-user p-2"></i>
                  <input formControlName="email" type="text" placeholder="Email">
                </div>
              </div>

              <small 
                *ngIf="signupForm.controls['email'].dirty &&
                 signupForm.hasError('required','email')" 
                class="text-danger"
              >
                *Email is required
              </small>
              <small
                *ngIf="signupForm.controls['email'].dirty &&
                 (signupForm.controls['email'].hasError('email') ||
                  signupForm.controls['email'].hasError('pattern'))"
                class="text-danger"
              >
              *Please enter a valid email address
              </small>

              <div class="form-group pt-3">
                <div
                class="input-field"
                [class.error]="signupForm.controls['username'].dirty && signupForm.hasError('required','username')">
                  <i class="fa fa-user p-2"></i>
                  <input formControlName="username" type="text" placeholder="Username">
                </div>
              </div>

              <small 
              *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required','username')" 
              class="text-danger"
            >
              *Username is required
            </small>

              <div class="form-group pt-3">
                <div 
                class="input-field"
                [class.error]="signupForm.controls['password'].dirty &&
                 (signupForm.hasError('required','password') ||
                 signupForm.controls['password'].hasError('passwordStrength'))
                 ">
                  <i class="fa fa-lock p-2"></i>
                  <input formControlName="password" type="password" placeholder="Password">
                </div>
              </div>

              
              <small 
              *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')" 
              class="text-danger"
            >
            *Password is required
            </small>

            <div class="text-danger_container">
              <small 
              *ngIf="signupForm.controls['password'].dirty && signupForm.controls['password'].hasError('passwordStrength')" 
              class="text-danger"
            >
            *Your password must have lower case, upper case, numeric and special characters!
            </small>
            </div>
            

              <div class="form-group pt-3">
                <div 
                class="input-field"
                [class.error]="signupForm.controls['comfirm_password'].dirty &&
                 (signupForm.hasError('required','comfirm_password') ||
                 signupForm.controls['comfirm_password'].hasError('MustMatch'))
                ">
                  <i class="fa fa-lock p-2"></i>
                  <input formControlName="comfirm_password" type="password" placeholder="Confirm password">
                </div>
              </div>
              <small 
              *ngIf="signupForm.controls['comfirm_password'].dirty && signupForm.hasError('required','comfirm_password')" 
              class="text-danger"
              >
              *Comfirm password is required
            </small>
            <div class="text-danger_container">
            <small 
                *ngIf="signupForm.controls['comfirm_password'].dirty && signupForm.controls['comfirm_password'].hasError('MustMatch')" 
                class="text-danger"
              >
                *Passsword and confirm password didn't match!
              </small>
              </div>

              <button (click)="onSignup(signupForm.value)" type="submit" class="btn btn-primary btn-lock mt-4 w-100">Sign up</button>
              <div class="text-center pt-4 pb-4 text-muted">Already have account?
                <a id="forget" routerLink="/login">Login</a>
              </div>
            </form>
          </div>
        </div>
        <!-- <div class="mx-3 my-2 py-2 bordert">
          <div class="text-center py-3">
            <a href="https://www.facebook.com" target="_blank" class="px-2">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Facebook-icon-1.png/640px-Facebook-icon-1.png"/>
            </a>
            <a href="https://www.google.com" target="_blank" class="px-2">
              <img src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png"/>
            </a>
            <a href="https://github.com" target="_blank" class="px-2">
              <img src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png"/>
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
