<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="outer">
  <div class="container">
    <div class="justify-content-md-center">
      <div class="panel border bg-white">
        <img src="../../../assets/images/image1.png" class="panel-img">
        <div class="panel-container">
          <div class="panel-heading">
            
            <h1 class="pt-3 font-weight-bold">Update password</h1>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="requestForm">
              <div class="form-group pt-3">
                <div 
                class="input-field"
                [class.error]="requestForm.controls['password'].dirty &&
                 (requestForm.hasError('required','password') ||
                 requestForm.controls['password'].hasError('passwordStrength'))
                 ">
                  <i class="fa fa-lock p-2"></i>
                  <input formControlName="password" type="password" placeholder="Password" [disabled]="enableComponent">
                </div>
              </div>

              
              <small 
              *ngIf="requestForm.controls['password'].dirty && requestForm.hasError('required','password')" 
              class="text-danger"
            >
            *Password is required
            </small>

            <div class="text-danger_container">
              <small 
              *ngIf="requestForm.controls['password'].dirty && requestForm.controls['password'].hasError('passwordStrength')" 
              class="text-danger"
            >
            *Your password must have lower case, upper case, numeric and special characters!
            </small>
            </div>
            

              <div class="form-group pt-3">
                <div 
                class="input-field"
                [class.error]="requestForm.controls['comfirm_password'].dirty &&
                 (requestForm.hasError('required','comfirm_password') ||
                 requestForm.controls['comfirm_password'].hasError('MustMatch'))
                ">
                  <i class="fa fa-lock p-2"></i>
                  <input formControlName="comfirm_password" type="password" placeholder="Confirm password">
                </div>
              </div>
              <small 
              *ngIf="requestForm.controls['comfirm_password'].dirty && requestForm.hasError('required','comfirm_password')" 
              class="text-danger"
              >
              *Comfirm password is required
            </small>
            <div class="text-danger_container">
            <small 
                *ngIf="requestForm.controls['comfirm_password'].dirty && requestForm.controls['comfirm_password'].hasError('MustMatch')" 
                class="text-danger"
            >
            *Passsword and confirm password didn't match!
            </small>
            </div>

              <button (click)="onUpdatePassword(requestForm.value)" type="submit" class="btn btn-primary btn-lock mt-4 w-100">Update</button>
              <div class="pt-4">
                <a id="forget" routerLink="/login">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
